.game-page {
    background: url("../images/game_page_bg.jpg") no-repeat;
    background-size: cover;
    display: grid;
    box-sizing: border-box;
    grid-row-gap: 3rem;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    min-height: 105rem;
}

.game-status {
    position: relative;
    display: flex;
    justify-content: center;
}

.game-status__content {
    width: 90rem;
    height: 16rem;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin: 2rem 0 0;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 0.5rem solid #383029;
    text-align: center;
    background-color: black;
    color: var(--color-font-light);
}

.game-status:after,
.game-status:before {
    display: block;
    position: absolute;
    content: "";
    width: 53.6rem;
    height: 17.8rem;
    background: url(../images/panel_rope.png) no-repeat;
    background-size: contain;
}

.game-status:after {
    right: 0;
    top: 0;
    transform: scaleX(-1);
}

.game-status:before {
    left: 0;
    top: 0;
}

.game-status__log {
    font-size: 4.2rem;
}

.game-status__common-pile {
    display: none;
    position: absolute;
    width: 100%;
    font-size: 1.4rem;
    bottom: 1rem;
}

.game-status__common-pile--active {
    display: block;
}

.opponents {
    display: flex;
    justify-content: space-between;
    width: 116rem;
    margin: auto;
}

.pcard {
    position: relative;
    display: inline-block;
    width: 20.4rem;
    height: 30.7rem;
    transform-style: preserve-3d;
}

.pcard__front,
.pcard__back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.pcard__back {
    background: url(../images/human_player_card_back.png) no-repeat;
    background-size: cover;
}

.pcard__front {
    text-align: center;
    color: black;
    border: 0.8rem solid transparent;
    border-radius: 0.8rem;
    transform: rotateY(180deg);
}

.ai-player .pcard__back {
    background-image: url(../images/ai_player_card_back.png);
}

.pcard__image-box {
    display: flex;
    margin: 0.8rem auto 0;
    overflow: hidden;
    vertical-align: middle;
    align-items: center;
    border: 2px solid #fefefe;
    border-radius: 0.8rem;
    width: 16.1rem;
    height: 15rem;
}

.pcard__image {
    width: 100%;
}

.pcard__title {
    position: relative;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: #f8f7f5;
    border-radius: 1.6rem;
    padding: 0.8rem;
    color: #383029;
    margin: -3.4rem 0.5rem 0;
}

.pcard__content {
    display: block;
    color: #fff;
}

.pcard__chars--active .pcard__char {
    cursor: pointer;
}

.pcard__chars {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 12rem;
    padding: 0.5rem 1rem;
}

.pcard__char {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.pcard__char--active {
    font-weight: bold;
}

.pcard__front {
    background: #38302a;
    border-color: #626767;
}

.human-player .pcard {
    /* transform: scale(1.3) translateY(-4rem); */
}

.countdown {
    position: absolute;
    font-weight: 900;
    font-size: 4.5em;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.countdown--active {
    pointer-events: initial;
    opacity: 1 !important;
}

.countdown__numbers {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.human-player {
    padding-top: 10rem;
    text-align: center;
}

.action-panel {
    width: 70rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background: rgba(145, 145, 145, 0.4);
    padding: 2rem 4rem;
    border-radius: 6rem;
    border: 1px solid #141a1f;
    margin-top: -8rem;
    margin-bottom: 1rem;
}

.ai-player__details {
    padding: 0.5rem 0;
    text-align: center;
    background-color: #f8f7f5;
    border: 2px solid #626767;
    color: #626767;
    border-radius: 0.6rem;
    margin-top: 0.7rem;
}

.ai-player__name {
    font-size: 1.6rem;
    font-weight: bold;
}

.ai-player__hand {
    font-size: 1.6rem;
}

.backdrop {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal {
    display: grid;
    align-content: space-between;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 70rem;
    min-height: 50rem;
    padding: 12rem;
    transform: translate(-50%, -50%);
    border: 0.4rem solid #dbdbdb;
    border-radius: 1.6rem;
    text-align: center;
    color: #fff;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.6rem;
    background: rgba(13, 33, 44, 0.5);
    z-index: -1;
    backdrop-filter: blur(1px);
}

.modal__title {
    font-size: 5rem;
}

.modal__hint {
}

.modal--opened {
    opacity: 1;
    pointer-events: initial;
}

.opponents-quantity {
    position: relative;
}

.opponents-quantity__input::-webkit-inner-spin-button,
.opponents-quantity__input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.opponents-quantity__input {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

.opponents-quantity__input:focus {
    outline: 0;
}

.opponents-quantity__nav {
    position: relative;
}

.opponents-quantity__button {
    position: absolute;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    top: 0;
    background: white;
    text-align: center;
    color: #333;
    font-size: 13px;
    line-height: 1.7;
    transform: translateX(-100%);
    user-select: none;
}

.opponents-quantity__button--up {
    left: 0;
}

.opponents-quantity__button--down {
    right: 0;
}
