.selection-page {
    background: url("../images/selection_page_bg.jpg") no-repeat;
    background-size: cover;
}

.game-title {
    margin: 0;
    font-size: 96px;
    font-weight: normal;
    color: var(--color-font-light);
}

.game-subtitle {
    margin: 4px 0 0;
    font-size: 56px;
    font-weight: normal;
    color: var(--color-font-light);
}

.selection-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 125px;
}
